page-afim {
    h3.afim_title {
        font: size 13;
         color: blue;
         align:left;
    }
    h2.afim_title {
        font: size 13;
         color: blue;
         align:left;
    }
    
}

