page-home {

    img {
        height: 265px;
    }
    .btn{
   background-color: #019faa;
   color: white;
   font-size: 20px;
    width: 50%;
     padding: 10px;
     border-radius: 5px;
     text-align: center;
 }
 .btn:hover{
    background-color: #05767c;
 	animation-duration: 1s;
 }
 .scroll-content {
    text-align: center;
}

    img.img1 {
        height: 50px;
        width: 200px;
    }



}

