page-feed {

    h2.feed_title {
        color: coral;
        table-layout: auto;
        text-align: -webkit-auto;
        font-size: larger;
        font-style: initial;
        font-size: 20px;
    }
    p.feed_data {
        color: #7aeadc;
    }
   

}
