// http://ionicframework.com/docs/theming/


img.logo1 {
    height: 50px;
    width: 50px;
  
    padding-top: 5px;
}

ion-navbar.toolbar.toolbar-md {
    background-color: red;
}

.toolbar-background.toolbar-background-md {
    background-color: rgba(30, 218, 216, 0.86);
}
span.E {
    
     color: white;
     font-size: 34px;
     font-family: serif;
 }
 
 .toolbar-title.toolbar-title-md {
     color:white;
 }
/*
 .toolbar-background.toolbar-background-md {
    background-color: rgba(30, 218, 216, 0.86);
}
.fixed-content {
 background-color: rgb(209, 204, 204);
}
.input-wrapper {
    background-color: rgb(209, 204, 204);
}
.item-inner {
    background-color: rgb(209, 204, 204);
}
button.item.item-block.item-md {
    background-color: rgb(209, 204, 204);
} */